name: Call Reusable Workflow

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  call-reusable-workflow:
    uses: Mohdabounasar012/dependabo-reusable/.github/workflows/reusable.yml@v1.0.0
    with:
      message: "Hello from the caller workflow!"
